name: code-ql

on:
  push:
    branches:
    - main
    paths-ignore:
    - '**.md'
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**.md'
  schedule:
  - cron: '0 10 * * 0'

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - uses: github/codeql-action/init@v4
      with:
        languages: go
    - uses: github/codeql-action/autobuild@v4
    - uses: github/codeql-action/analyze@v4
